.card {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 2rem;
  background-color: $white;
  border-radius: .75rem;
  overflow: hidden;

  &--transparent {
    background-color: $white-transparent;
  }

  &--outline {
    border: .0625rem solid $border;
  }

  @media screen and (min-width: 48em) {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }
}
