$white: #FFFFFF;
$white-transparent: rgba(#ffffff, 0.7);
$grey: #f7f7f7;
$beige: #f3e5d8;
$primary: #00d66c;
$primary-transparent: rgba(#00d66c, 0.9);
$secondary: #2800a0;
$secondary-hover: #5e40b8;
$tertiary: #ff3268;
$border: #ccc;
$input-border: #91a3b7;
$border-active: #2800a0;
$text-black: #202020;
$text-grey: #606060;
$text-light-grey: #909090;
$box-shadow: rgba(#000000, 0.15);
$box-shadow-primary: #1e9162;
$box-shadow-secondary: #120145;
$box-shadow-tertiary: #ca2b55;
