form {
  display: flex;
  margin-top: .5em;

  input {
    width: 85%;
    font-size: 1em;
    min-height: 2.5rem;
    padding: 0 2.5em 0 .5em;
    border: solid;
    border-width: thin;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .btn--search {
    width: 15%;
    font-family: Nexa bold;
    color: $white;
    background-color: $secondary;
    box-shadow: inset 0 -0.1875rem 0.0625rem $box-shadow-secondary;
    transition: background-color .2s linear;
    border-radius: 0 .5rem 0.5rem 0;
    // transform: translateX(-35px);

    &:hover {
      background-color: $secondary-hover;
    }

    img {
     vertical-align: middle;
   }
  }
}
