input {
  width: 20em;
  font-size: 1em;
  min-height: 2.5rem;
  padding: 0 2.5rem 0 .5rem;
  border: solid;
  border-width: thin;
  border-radius: .5rem;
}

.search input {
  width: 70%;
  border-radius: .5rem 0 0 0.5rem;
  /*-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .10s ease;*/
}

input:focus, .searchbutton:hover {
  border-color: #2800a0;
  outline: none;
}
