@import "grid";
@import "color";
@import "text";
@import "form";
@import "button";
@import "lists";
@import "cards";

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5em 1em;
  z-index: 1;
  background-color: $white;
  box-shadow: 0 0.3125em 0.625em 0 rgba(0, 0, 0, .15);

  .logo {
    margin-right: 2em;
  }
}

main {
  background: #FFFFFF;
  position: relative;
  z-index: 0;
}

nav {
  display: none;

  ul {
    width: 100%;
    margin-top: 0.65em;
    padding-left: 0;
  }

  li {
    float: left;
    padding: 0em 2em 0em 0em;
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #00D752;
    font-family: Nexa bold;
    cursor: pointer;
  }
}

.menu-icons-container {
  display: inline-block;
}

.menu-icons-container>* {
  float: right;
}

.inlog-text {
  display: none;
}

.sub-header {
  background-color: $beige;
}

form {
  margin-top: 0.5em;
}

.search {
  /*-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .10s ease;*/
}


.sort {
  /*background-color: #f49018;*/
}

.filter {
  margin-top: 1rem;
  /*background-color: #f3e5d8;*/
}

.all-stories1 {
  background-color: #f3e5d8;
}

footer {
  /*background-color: #f5f77c;*/
  text-align: center;
}

@media screen and (min-width: 37.5em) {
  .menu-icon {
    display: none;
  }
  nav {
    display: inline-block;
  }
  .inlog-text {
    display: inline-block;
  }
  .logon-icon {
    display: none;
  }
  form {
    margin: 0;
  }
}
