.container {
  display: grid;
  max-width: 72em;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 1em .5em; }
  @media screen and (min-width: 48em) {
    .container {
      padding: 2em 3em;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (min-width: 64em) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.sub-header .container {
  grid-template-areas: "filter"; }

.all-stories1 .container,
.all-stories2 .container {
  grid-gap: 2rem; }

@media screen and (min-width: 48em) {
  .sub-header .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". filter ."; }
  .all-stories1 .container {
    grid-template-columns: 1fr 2fr; }
  .all-stories2 .container {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (min-width: 64em) {
  .all-stories1 .container {
    grid-template-columns: 1fr 1fr 2fr; }
  .all-stories2 .container {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.sub-header {
  grid-area: sub-header; }

.card--filter {
  grid-area: filter; }

.all-stories1 {
  grid-area: all-stories1; }

.all-stories2 {
  grid-area: all-stories2; }

footer {
  grid-area: footer; }

* {
  font-family: Nexa light;
  line-height: 1.5; }

html {
  font-size: 16px; }

h1, h2, h3 {
  font-family: Nexa bold;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.375em;
  color: #00d66c; }

form {
  display: flex;
  margin-top: .5em; }
  form input {
    width: 85%;
    font-size: 1em;
    min-height: 2.5rem;
    padding: 0 2.5em 0 .5em;
    border: solid;
    border-width: thin;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  form .btn--search {
    width: 15%;
    font-family: Nexa bold;
    color: #FFFFFF;
    background-color: #2800a0;
    box-shadow: inset 0 -0.1875rem 0.0625rem #120145;
    transition: background-color .2s linear;
    border-radius: 0 .5rem 0.5rem 0; }
    form .btn--search:hover {
      background-color: #5e40b8; }
    form .btn--search img {
      vertical-align: middle; }

button {
  font-size: 1em;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  border: none;
  border-radius: 0.55rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 -0.1875rem 0.0625rem;
  transition: background-color .2s linear; }
  button:not(btn--search) {
    margin-top: 0; }

.filter__btn {
  width: 2rem;
  height: 2rem;
  margin-top: 0;
  margin-right: 0.5em;
  border-radius: 50%;
  box-shadow: none; }
  .filter__btn:first-of-type {
    background-color: #d05050; }
  .filter__btn:nth-of-type(2) {
    background-color: #FFFFFF; }
  .filter__btn:nth-of-type(3) {
    background-color: #508bd0; }
  .filter__btn:last-of-type {
    margin-right: 0.6em;
    background-color: #f69b51; }

.btn--primary {
  border-radius: 1.25rem; }

.btn--read {
  background-color: #2800a0;
  font-family: Nexa bold;
  color: white;
  width: 5em;
  margin-top: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li a {
    text-decoration: none; }

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #202020; }
  .card:hover p {
    color: #ff3268; }
  .card--transparent .card__body {
    background-color: rgba(255, 255, 255, 0.7); }
  .card--outline .card__body {
    border: 0.0625rem solid #ccc;
    border-top: 0; }
  .card h2 {
    margin-bottom: 1em;
    line-height: 1; }
  .card__body {
    padding: 1.5em;
    border-radius: .75rem; }
    .card__body > p {
      overflow: hidden;
      height: 10.5rem;
      margin: 0; }
      .card__body > p::before {
        content: "\003e";
        font-weight: 700;
        font-size: 1.5em;
        margin-right: .5em;
        line-height: 24px;
        vertical-align: middle; }
  .card__media {
    overflow: hidden;
    height: 11rem;
    background-color: #00d66c;
    border-top-right-radius: .75rem;
    border-top-left-radius: .75rem; }
    .card__media img {
      width: 100%;
      min-height: 100%; }
    .card__media + .card__body {
      border-top-right-radius: 0;
      border-top-left-radius: 0; }

body {
  margin: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5em 1em;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.15); }
  header .logo {
    margin-right: 2em; }

main {
  background: #FFFFFF;
  position: relative;
  z-index: 0; }

nav a {
  text-decoration: none;
  color: #00d66c;
  font-family: Nexa bold;
  cursor: pointer; }

.sub-header {
  background-color: #f3e5d8; }

.search {
  /*-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .10s ease;*/ }

.filter {
  margin-top: 1rem; }

.all-stories1 {
  background-color: #f3e5d8; }

footer {
  text-align: center; }
