.container {
  display: grid;
  max-width: 72rem;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 1em .5rem; }
  @media screen and (min-width: 48em) {
    .container {
      padding: 2em 3em;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media screen and (min-width: 64em) {
    .container {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }

.sub-header .container {
  grid-template-areas: "filter"; }

.all-stories1 .container {
  grid-gap: 2rem; }

.all-stories2 .container {
  grid-gap: 2rem; }

@media screen and (min-width: 48em) {
  .sub-header .container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: ". filter ."; }
  .all-stories1 .container {
    grid-template-columns: 1fr 2fr; }
  .all-stories2 .container {
    grid-template-columns: 1fr 1fr 1fr; } }

@media screen and (min-width: 64em) {
  .all-stories1 .container {
    grid-template-columns: 1fr 1fr 2fr; }
  .all-stories2 .container {
    grid-template-columns: 1fr 1fr 1fr 1fr; } }

.sub-header {
  grid-area: sub-header; }

.card--filter {
  grid-area: filter; }

.all-stories1 {
  grid-area: all-stories1; }

.all-stories2 {
  grid-area: all-stories2; }

footer {
  grid-area: footer; }

* {
  font-family: Nexa light;
  line-height: 1.5; }

html {
  font-size: 16px; }

h1, h2, h3 {
  font-family: Nexa bold;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.375rem;
  color: #00d66c; }

form {
  display: flex;
  margin-top: 1rem; }
  form input {
    width: 85%;
    font-size: 1em;
    min-height: 2.5rem;
    padding: 0 2.5rem 0 .5rem;
    border: solid;
    border-width: thin;
    border-radius: .5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  form .searchbutton {
    width: 15%;
    font-family: Nexa bold;
    color: #FFFFFF;
    background-color: #2800a0;
    box-shadow: inset 0 -0.1875em 0.0625em #120145;
    transition: background-color .2s linear;
    border-radius: 0 .5rem 0.5rem 0; }
    form .searchbutton img {
      vertical-align: middle; }
  form .searchbutton:hover {
    background-color: #5e40b8; }

button {
  font-size: 1em;
  margin-top: 1em;
  padding: 0.5em;
  text-align: center;
  border: none;
  border-radius: 0.55em;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 -0.1875em 0.0625em;
  transition: background-color .2s linear; }

button:not(searchbutton) {
  margin-top: 0; }

@media screen and (max-width: 37.5em) {
  .searchbutton {
    width: 15%; } }

.btn--color-filter {
  width: 2rem;
  height: 2rem;
  margin-top: 0;
  margin-right: 0.5em;
  border-radius: 50%;
  box-shadow: none; }

.btn--color-filter:first-of-type {
  background-color: #d05050; }

.btn--color-filter:nth-of-type(2) {
  background-color: #FFFFFF; }

.btn--color-filter:nth-of-type(3) {
  background-color: #508bd0; }

.btn--color-filter:last-of-type {
  margin-right: 0.6em;
  background-color: #f69b51; }

.btn-primary {
  border-radius: 1.25em; }

.readbutton {
  background-color: #2800a0;
  font-family: Nexa bold;
  color: white;
  width: 5em;
  margin-top: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li a {
    text-decoration: none; }

.card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #202020; }
  .card:hover p {
    color: #ff3268; }
  .card--transparent .card__body {
    background-color: rgba(255, 255, 255, 0.7); }
  .card--outline .card__body {
    border: 0.0625rem solid #ccc;
    border-top: 0; }
  .card h2 {
    margin-bottom: 1rem;
    line-height: 1; }
  .card__body {
    padding: 1.5rem;
    border-radius: .75rem; }
    .card__body > p {
      overflow: hidden;
      height: 10.5rem;
      margin: 0; }
      .card__body > p::before {
        content: "\003e";
        font-weight: 700;
        font-size: 1.5rem;
        margin-right: .5rem;
        line-height: 24px;
        vertical-align: middle; }
  .card__media {
    overflow: hidden;
    height: 11rem;
    background-color: #00d66c;
    border-top-right-radius: .75rem;
    border-top-left-radius: .75rem; }
    .card__media img {
      width: 100%;
      min-height: 100%; }
    .card__media + .card__body {
      border-top-right-radius: 0;
      border-top-left-radius: 0; }

body {
  margin: 0; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: .5em 1em;
  z-index: 1;
  background-color: #FFFFFF;
  box-shadow: 0 0.3125em 0.625em 0 rgba(0, 0, 0, 0.15); }
  header .logo {
    margin-right: 2em; }

main {
  background: #FFFFFF;
  position: relative;
  z-index: 0; }

nav {
  display: none; }
  nav ul {
    width: 100%;
    margin-top: 0.65em;
    padding-left: 0; }
  nav li {
    float: left;
    padding: 0em 2em 0em 0em;
    list-style: none; }
  nav a {
    text-decoration: none;
    color: #00D752;
    font-family: Nexa bold;
    cursor: pointer; }

.menu-icons-container {
  display: inline-block; }

.menu-icons-container > * {
  float: right; }

.inlog-text {
  display: none; }

.sub-header {
  background-color: #f3e5d8; }

form {
  margin-top: 0.5em; }

.search {
  /*-webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .10s ease;*/ }

.sort {
  /*background-color: #f49018;*/ }

.filter {
  margin-top: 1rem;
  /*background-color: #f3e5d8;*/ }

.all-stories1 {
  background-color: #f3e5d8; }

footer {
  /*background-color: #f5f77c;*/
  text-align: center; }

@media screen and (min-width: 37.5em) {
  .menu-icon {
    display: none; }
  nav {
    display: inline-block; }
  .inlog-text {
    display: inline-block; }
  .logon-icon {
    display: none; }
  form {
    margin: 0; } }
